body{background-color: rgb(209, 209, 209);}
#recordButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#recordButton:hover {
  background-color: #45a049;
}

#statusMessage {
  margin-top: 10px;
  font-weight: bold;
}